* {
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.chat-box img{
  width: 31px;
  padding-left: 41px;
}

.menu {
  background-color:rgb(43, 44, 49);
  width: 20%;
  color: white;
  padding-left: 20px;
  line-height: 30px;
  height: 100vh;
}

.links {
  cursor: pointer;

}
.links:hover{
  background-color: rgb(77, 74, 74);
}

.links img{
  width: 15px;
  padding-right: 10px;
}
.container {
  display: flex;
  height: 100vh;
}

.chat-box {
  width: 80%;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.chat-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.btn img{
    width: 10px;
}


.input{
  width: 100%;
}


#chatForm{
  width: 100%;
  box-shadow: 0 0 transparent;
}
.userInput{
  width: 100%;
}
.catImageResponse img{
  width: 300px;
}

.userAvatar{
  padding-right: 37px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


.menu-box{
  display: flex;
  justify-content: space-betwee;
  flex-direction: column;
}